.logo__menu {
	list-style: none;
	display: flex;
	grid-area: lm;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: $tablet1) and (min-width: $tablet2) {
		padding-right: 50px;
	}
	@media screen and (max-width: $tablet2) {
	}
}

.menu {
	grid-area: mn;
	align-items: center;
}

.header__img {
	grid-area: headimg;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 50px;
	@media screen and (max-width: $tablet1) and (min-width: $tablet2) {
		padding-left: 50px;
	}
	@media screen and (max-width: $tablet2) {
		padding-left: 50px;
	}
}

#burger {
	grid-area: burger;
}

.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "headimg headimg mn mn lm";
	height: 100px;

	@media screen and (max-width: $tablet1) and (min-width: $tablet2) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: "headimg lm"
							"mn mn";
	}
	@media screen and (max-width: $tablet2) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: "headimg lm"
							"mn mn";
	}
}