.header {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid $line-color;
}

.logo__menu {
	list-style: none;
	display: flex;
	grid-area: lm;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	border-bottom: 1px solid $line-color;

	@media screen and (max-width: $tablet1) {
		display: flex;
		justify-content: flex-end;
	}

	@media screen and (max-width: $tablet2) {
		display: flex;
		justify-content: flex-end;
	}

	@media screen and (max-width: $mobile) {
		display: none;
		// justify-content: flex-end;
	}
}

.menu {
	grid-area: mn;
	align-items: center;
}

.header__img {
	grid-area: headimg;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid $line-color;

	@media screen and (max-width: $tablet1) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-top: 10px;
	}

	@media screen and (max-width: $tablet2) {
		display: flex;
		justify-content: flex-start;
		align-items: center;

	}

	@media screen and (max-width: $mobile) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#burger {
	grid-area: burger;
}

.header__container {
	height: 100px;
	width: 1110px;
	display: grid;
	grid-template-columns: 1fr 1fr 0.3fr;
	grid-template-areas: "headimg mn lm";

	@media screen and (max-width: $tablet1) {
		width: 1110px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"headimg lm"
			"mn mn";
	}

	@media screen and (max-width: $tablet2) {
		width: 764px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"headimg lm"
			"mn mn";
	}

	@media screen and (max-width: $mobile) {
		width: 567px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"headimg headimg"
			"mn lm";
	}
}